/*html , body{
    padding: 0;
    margin: 0;
}*/

.toggle_btn{
    height: 30px;
    width: 40px;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    cursor: pointer;
  
}

.toggle_btn span{
    height: 5px;
    background-color: #34495E;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    
}
.toggle_btn span:before {
    content: '';
    height: 5px;
    background-color: #34495E;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    
}
.toggle_btn span:after {
    content: '';
    height: 5px;
    background-color: #34495E;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    
}

.menu{
    height: 900px;
    background-color: #34495E;
    width: 200px;
    
}
.menu a{
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    display: block;
    padding-top: 30px;
    text-decoration: none;
    
}
.logo{
   /* text-transform: uppercase;*/
   /* font-weight: bold;
    font-size: 2rem;*/
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;
    
          
}

.nav{
    margin-left: -250px;
    transition-duration: 0.2s;
    
}
.nav_open{
    margin-left: 0;
    transition-duration: 0.2s;
    
}
.menu2{    
    height: 30px;
    width: 50px;
    /*position: relative;*/
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 10px; 
    color: #2e4e68;
    padding: 20;
    margin: 20;
    
}



















